.resolution {
  font-weight: bold;
  font-size: 2em;
}

.green {
  color: green;
  font-weight: bold;
}

.red {
  color: red;
  font-weight: bold;
}

.result {
  padding: 5px;
  border: solid 1px black;
  margin-top: 10px;
  margin-bottom: 20px;
}
